<div class="container text-center">
    <h1>About Us</h1>
    <p>We are Tentspace.  Our mission is to join diverse explorers on group trips, in order to bring
    people together, create new relationships and shared experiences that will last a lifetime.</p>
</div>